.hero {
  display: flex;
  align-items: center;
  background: url('../assets/images/hero.jpg') no-repeat bottom;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
  margin-top: -5rem;
}

.category {
  margin-top: -5rem;  
  margin-bottom: 3rem;
}

.explore {
  margin-bottom: 3rem;
}

.post:nth-child(even) {
  flex-direction: row-reverse !important;
  margin: 3rem 0;
}
